* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;

  /* overflow: hidden; */
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  background: #F5F6FA;

  font-family: 'Oswald', sans-serif;
  font-size: 1.05em;
  color: #0B141C;

  overflow: hidden;
}

.no_select {
  user-select: none;
}

a {
  color: #315b7d;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.16);
  border-radius: 5px;
  padding: 5px;

  background: #fff;
}

/* .card:hover {
  box-shadow: 0 0 35px rgba(0,0,0,0.16);
} */

.high_card {
  box-shadow: 0 0 35px rgba(0,0,0,0.16);
  border-radius: 0px;

  /* background: #fafbfd; */
}

.site_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 5em 0.7fr 0.3fr;

  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  top: 0.5em;
  left: 0.4em;

  grid-row: 1 / 2;
  grid-column: 1 / 2;

  width: 100%;

  font-family: 'Anton', sans-serif;
  line-height: 120%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;

  font-family: 'Lobster', cursive;

}

.title > div {
  margin: auto 0.2em auto 0.2em;
  transform: translateY(25%);
  font-weight: 800;

  color: #1c3448;
  background: #FECE2F;

  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.subtitle {
  grid-row: 2 / 4;
  grid-column: 1 / 2;

  text-align: center | left;
  font-size: 1em;

  padding: 0.2em 0 0 10%;
  margin: auto 0 auto 0;
}

.placeholder {
  flex-grow: 0.1;
  min-height: 0;
  display: none;

  max-height: 10vh;
}

.inner_placeholder {
  margin: auto auto 3em auto;
  width: 4em;
  height: 4em;
}

#scroll_ico {
  position: absolute;
  font-size: 4em;
}

.main_window {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  overflow: hidden;

  position: relative;
  margin: 0 auto;
  width: 96%;
  height: unset;
}

.graph_window{

  grid-row: 3 / 4;
  grid-column: 2 / 3;

  position: relative;
  margin: 1em auto;
  width: 96%;

  overflow: hidden;
  min-height: 0;

  flex-grow: 0.2;
  height: auto;
}

.canvas_container {
  width: 100%;
  height: 100%;
}

#graph_canvas, #canvas {
  width: 100%;
  height: 100%;
}

.options {
  position: absolute;

  width: 100%;
  max-width: 270px;

  height: 100%;
  max-height: 100%;

  top: 0px;
  right: 10px;

  overflow-y: scroll;
  overflow-x: visible;
  -ms-overflow-style: none;

  margin-bottom: 10px;
  background: rgba(255, 0, 0, 0.0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.options::-webkit-scrollbar {
  display: none;
}

.options > div {

  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  width: 75%;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  padding: 0.2em;
}

.options > div > li {
  position: relative;
  all: unset;
  display: block;

  background: #fff;

  margin-top: 2em;
  margin-bottom: 2em;
  /* border-bottom: 0.2px solid #292c2e; */
  padding-bottom: 0.4em;

  box-shadow: 0 0 10px rgba(0,0,0,0.16);
}

.param_name {
  display: inline-block;

  margin-left: 1em;
}

.param_control {
  width: 100%;
  text-align: center;
}

.param_options{
  margin-top: 0.2em;
  display: inline-block;
  margin-left: 8%;
}

.param_options > label {
  display: block;
  padding-left: 0.2em;
  padding-right: 1em;
	font-weight: bold;
  float: left;
}

.param_options > input {
  float: right;
  max-width: 4em;
  border: none;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  padding-right: 1em;

  background: #E8EAEC;
}

.param_setpoint {
  padding-top: 0.5em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.param_setpoint > input {
  width: 90%;
}

/* REMOVE NUMBER - ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* SLIDER STYLING */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: #32485A;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 1em;
  width: 1em;
  background: #32485A;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 1em;
  width: 1em;
  background: #32485A;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1em;
  cursor: pointer;
  background: #E8EAEC;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E8EAEC;
}

input[type=range]::-moz-range-track {
  height: 1em;
  cursor: pointer;
  background: #E8EAEC;
  border-radius: 0.5em;
}

input[type=range]::-ms-track {
  height: 1em;
  cursor: pointer;
  background: #d5e2ec;
  border-radius: 0.5em;
}
input[type=range]::-ms-fill-lower {
  background: #d5e2ec;
}
input[type=range]:focus::-ms-fill-lower {
  background: #d5e2ec;
}
input[type=range]::-ms-fill-upper {
  background: #d5e2ec;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d5e2ec;
}

.button {
  position: absolute;
  width: 12em;
  height: 3em;

  background: #dae5ee;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

  box-shadow: 0 0 5px rgba(0,0,0,0.16);
}

.button:hover {
 background: #a7b2bb;
 box-shadow: 0 0 35px rgba(0,0,0,0.16);
}

.button_positive_action {
  background: #32485A;
  color: #e5f2e5;
}
.button_positive_action:hover {
  background: #1c3448;
}

.button_negative_action {
  background: #ff3232;
  color: #e5f2e5;
}
.button_negative_action:hover {
  background: #cc0000;
}

#btn_restart {
  position: absolute;
  left: 1em;
  bottom: 1em;
}


@media (max-width:700px) {
  body {
    overflow-y: scroll;
    height: auto;
  }

  .site_wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .subtitle {
    padding: 0.2em 5% 0 5%;
    transform: none;
  }

  .title {
    position: relative;
    top: unset;
    left: unset;
    margin: unset;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }

  .title > div {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }

  .placeholder {
     display: inline-block;
  }

  .main_window {
    height: calc(80vh - 10px);
  }

  .graph_window {
    height: calc(20vh - 10px);
  }

  .options {
    max-width: 30vw;
  }

  .param_options > label {
    margin: 0 auto 0 auto;
    float: left;
  }

  .param_options > input {
    float: left;
    margin-left: 1em;

  }

  #btn_restart{
    left: unset;
    right: 1em;
  }

  #restart_text {
    display: none;
  }

  .button {
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }
}


/*Help tooltips:*/

.has_help{
}

.has_help:after{
  display: inline-block;
  content: '?';
  font-size: 0.8em;

  text-align: center;
  color: #768591;

  border-radius: 6%;
  width: 18px;
  height: 18px;

  margin-left: 0.2em;
  margin-top: 0.2em;
}

.has_help:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 500ms ease-in-out;
    animation: fadeIn 500ms ease-in-out;

}

.has_help p{    /* The tooltip */
    display: none;
    text-align: left;
    padding: 20px;
    width: 200px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    left: -4px;

    font-size: 13px;
    line-height: 1.4;

    background: #32485A;
    color: #e5f2e5;
}

.has_help p:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#32485A;
    left:40px;
    top:-12px;
}

.has_help p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
